/* 搜索框 start */
.search-ico {
	width: 40upx;
	height: 40upx;
}
.search-text{
	font-size: 20upx;
	background-color: #F1F1F1;
	height: 60upx;
	width: 650px;
}
.search-block{
	display: flex;
	flex-direction: row;
	padding: 0upx,20upx,20upx,20upx;
	background-color: "#F8F8F8";
	/* 固定搜索栏 */
	position: fixed;
	top: 100;
	z-index: 2000;
}
.search-icon-wapper{
	background-color: #F1F1F1;
	/* 通过flex，使得图片居中 */
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0upx 10upx;
}


/* 搜索框 end */

/* 预告片列表 start */
.movie-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 100upx 10upx 0upx 10upx;

}
.poster {
	width: 200upx;
	height: 270upx;
}
.movie-wapper {
	padding: 10upx 20upx;
}


/* 预告片列表 end */